[Unit]
Description=Doomtown webserver
After=network-online.target

[Service]
ExecStart=/usr/bin/tclsh /home/dietpi/doomtown/src/main.tcl \
  --port 80 \
  --db /srv/doomtown/doomtown.sqlite \
  --files /srv/doomtown/files \
  --adminkey $ADMINKEY \
  --baseurl $BASEURL
WorkingDirectory=/home/dietpi/doomtown/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=dietpi
EnvironmentFile=/home/dietpi/doomtown/local.conf

[Install]
WantedBy=multi-user.target